#header {
    display: flex;
    justify-content: center;

    font-family: 'Bungee Spice', cursive;

    position: relative;
    bottom: 6.5vh;

    font-size: 60px;
}

#word-bar {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 35px;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    text-align: center;

    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(120, 120, 255);
    border-radius: 8px;
    width: 75vh;
    height: 5vh;
}

#clear {
    display: flex;
    justify-content: flex-start;

    position: relative;
    top: 8px;
    right: 38px;

    min-width: 35px;
    max-width: 35px;

    min-height: 44px;
    max-height: 44px;

    background-color: rgb(255, 36, 36);
    border: 2px solid rgb(120, 120, 255);
    border-radius: 8px;
}

#send {
    display: flex;
    justify-content: flex-end;

    position: relative;
    bottom: 78px;
    left: 556px;

    min-width: 35px;
    max-width: 35px;

    min-height: 44px;
    max-height: 44px;

    background-color: rgb(0, 190, 0);
    border: 2px solid rgb(255, 120, 246);
    border-radius: 8px;
}