.letters {
    display: flex;
    justify-content: center;

    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

    text-align: center;

    border: 2px solid rgb(205, 255, 0);
    border-radius: 30px;
    min-width: 55px;
    max-width: 55px;
    min-height: 55px;
    max-height: 55px;

    background-color: rgb(30, 55, 155);
    color: white;

    margin: 2px;

    cursor: default;
    user-select: none;
}

.selected {
    background-color: rgb(30, 30, 30);
}

.hidden {
    visibility: hidden;
}

/* create key-frames drop to translate y number of pixels related to length of array - shorter array will translate less */