.letters {
    display: flex;
    justify-content: center;

    font-family: 'Quantico', sans-serif;
    font-size: 25px;

    border: 2px solid rgb(205, 255, 0);
    border-radius: 25px;
    min-width: 55px;
    max-width: 55px;
    min-height: 55px;
    max-height: 55px;

    background-color: rgb(30, 55, 155);
    color: white;

    margin: 2px;

    position: relative;
    left: 25px;
    top:-965px;
    animation: drop 0.8s forwards;
    animation-iteration-count: one;
}

.hidden {
    visibility: hidden;
  }

  
@keyframes drop{
    100%{transform: translateY(480px)}
}