#menu-box {
    text-align: center;

    flex-wrap: wrap;
    box-sizing: content-box;

    max-width: 1px;
    margin: auto;

    color: white;

    min-height: 89.4vh;
    max-height: 89.4vh;
    min-width: 43.6vw;
    max-width: 43.6vw;
    
    box-shadow: 0px 10px 20px rgb(0, 110, 0);

    position: relative;
    top: 4vh;

    border-radius: 25px;
    border: 2px solid rgb(255, 255, 60);

    overflow: hidden;
}

.menu-buttons {
    border: 2px solid transparent;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.menu-buttons:hover {
    font-style: italic;
    text-shadow: 0px 1px 2px rgb(40, 40, 40);
}

.menu-button-divs {
    justify-content: center;

    top: 22vh;

    height: 10vh;
    width: 14vw;

    border: 4px solid transparent;
    border-radius: 6px;

    background-color: rgb(20, 20, 20);

    margin: auto;
    margin-bottom: 4vh;

    cursor: pointer;
}

.menu-back-buttons {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    position: relative;
    color: rgb(255, 255, 0);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-back-buttons:hover {
    font-style: italic;
    text-shadow: 0px 1px 2px rgb(40, 40, 40);
}

.instructions-containers {
    display: flex;
    justify-content: center;

    margin-bottom: 4vh;
    margin-right: 2.5vw;

    padding: 0.5vw;

    min-width: 18vw;
    max-width: 18vw;

    border: 4px solid transparent;

    border-radius: 8px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    cursor: pointer;
}

.theme-containers {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    line-height: 6vh;

    color: white;

    list-style: none;

    padding: 0.6vw;
    margin-bottom: 6vh;
    margin-right: 2.5vw;

    min-width: 12vw;
    max-width: 12vw;
    min-height: 6vh;
    max-height: 6vh;

    border: 2px solid yellow;
    border-radius: 12px;

    cursor: pointer;
}

.difficulty-containers {
    display: flex;
    justify-content: center;

    line-height: 6vh;

    padding: 1vw;
    margin-bottom: 4vh;

    min-width: 16vw;
    max-width: 16vw;

    border: 4px solid transparent;

    border-radius: 6px;

    cursor: pointer;
}

.difficulty-desc {
    font-family: 'Roboto';
    margin-top: -0.5vh;
    font-style: italic;
    line-height: 2vh;
}

.play-difficulty {
    font-size: 26px;
    margin-top: 5vh;
}

.play-difficulty:hover {
    font-style: italic;
    text-shadow: 0px 1px 2px rgb(40, 40, 40);
}

.signup-form-inputs {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;

    color: white;

    background-color: rgb(60, 60, 60);

    height: 5vh;
    width: 14vw;

    border: none;
    border-radius: 4px;
    
    margin-bottom: 2vh;

    cursor: pointer;
}

#signup-button {
    font-family: 'Roboto', sans-serif;

    background-color: rgb(140, 0, 55);
    font-size: 16px;

    margin-top: 2vh;

    color: white;

    padding: 0.3vw;

    min-width: 6vw;
    max-width: 6vw;

    border: 4px solid transparent;
    border-bottom: 3px solid rgb(105, 0, 40);

    border-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    cursor: pointer;
}