#game-over {
    min-height: 650px;
    max-height: 650px;
    min-width: 670px;
    max-width: 670px;
    
    box-shadow: 0px 10px 20px rgb(0, 110, 0);

    position: relative;
    top: 3vh;
    margin: auto;

    border-radius: 25px;
    border: 2px solid rgb(255, 255, 60);
}

#gameover-header {
    display: flex;
    justify-content: center;

    font-family: 'Bungee Spice', cursive;

    position: relative;
    bottom: 5vh;

    font-size: 80px;
}

#stats-box {
    text-align: center;
    font-size: 18px;

    font-family: 'Roboto', sans-serif;
    color: white;

    background-color: rgb(10, 10, 10);

    min-height: 30vh;
    max-height: 30vh;
    min-width: 300px;
    max-width: 300px;
    
    box-shadow: 0px 10px 20px rgb(0, 110, 0);

    position: relative;
    bottom: 8vh;
    margin: auto;
    margin-bottom: -4vh;

    overflow-y: auto;
    overflow-x: hidden;

    border: 2px solid rgb(255, 255, 60);
    border-radius: 24px;
}

b {
    color: rgb(255, 255, 60);
}

#play-again {
    display: flex;
    justify-content: center;

    font-family: 'Bungee Spice', cursive;

    position: relative;
    top: 4vh;

    background-color: transparent;

    margin-left: 170px;
    margin-right: 170px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 2px solid transparent;
    border-bottom: 2px solid rgb(255, 255, 60);

    font-size: 40px;

    cursor: pointer;
}

#play-again:hover {
    box-shadow: 0px 5px 15px rgb(0, 110, 0);
    border: 2px solid rgb(255, 255, 60);
    border-radius: 15px;
}

.badges-li {
    background-color: rgb(20, 20, 20);

    text-align: center;
    line-height: 5px;

    min-width: 13vw;
    max-width: 13vw;

    padding: 4px;

    margin-bottom: 2vh;

    border: 2px solid #FFD700; 
    border-radius: 12px;

    cursor: pointer;
}

::-webkit-scrollbar {
    width: 3px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border-radius: 44px;
    margin-top: 3vh;
    margin-bottom: 3vh;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 44px;
	background-color: rgb(255, 255, 60);
}