#profile-box {
    font-family: 'Roboto', sans-serif;
    text-align: center;

    margin: auto;

    color: white;

    min-height: 89.4vh;
    max-height: 89.4vh;
    min-width: 55vw;
    max-width: 55vw;
    
    box-shadow: 0px 10px 20px rgb(0, 110, 0);

    position: relative;
    top: 4vh;

    border-radius: 25px;
    border: 2px solid rgb(255, 255, 60);

    overflow: hidden;
}

.user-stat-boxes {
    font-size: 18px;
    
    background-color: rgb(255, 140, 0);

    border: none;
    border-bottom: 4px solid rgb(205, 90, 0);
    
    text-align: center;

    min-width: 13vw;
    max-width: 13vw;

    height: 8vh;

    margin: 2vh;
    padding: 1vw;

    border-radius: 12px;

    cursor: pointer;
}

.user-profile-boxes {
    display: flex; 
    justify-content: center;
    border: 2px solid rgb(225, 225, 40);
    border-radius: 12px;
    margin-top: 10vh;
    margin-right: 1vw;
    overflow-Y: auto;
    flex-wrap: wrap;
    min-width: 18vw;
    max-width: 18vw;
    max-height: 68vh;
    z-Index: 300;
}