.letters {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

    line-height: 7.2vh;
    letter-spacing: -1.5px;

    min-width: 3.58vw;
    max-width: 3.58vw;
    min-height: 7.58vh;
    max-height: 7.58vh;

    margin: 2px;

    position: relative;
    bottom: 14vh
}

.new-letters {
    position: relative;

    animation: drop 0.4s forwards;
}

.rearranged-letters {
    position: relative;
    
    animation: redrop 0.4s forwards;
}

@keyframes drop {
    from {bottom: 100vh}
    to {bottom: 14vh}
}

@keyframes redrop {
    from {bottom: 20vh}
    to {bottom: 14vh}
}