body {
    background-image: url('./main.svg');
    position: relative;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    overflow: hidden;

    user-select: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(60, 60, 60) inset;
    border: 2px solid rgb(255, 215, 0);
}

input:focus {
    outline: 2px solid rgb(255, 215, 0);;
}

a:link {text-decoration: none}


a:visited {text-decoration: none}


a:hover {text-decoration: none}


a:active {text-decoration: none}