.columns {
    display: inline-flex;
    flex-direction: column;

    justify-content: center;

    position: relative;

    max-height: 100vh;

    z-index: 5;

    top: -465px;
    animation: drop 0.6s forwards;
}

@keyframes drop {
    100%{transform: translateY(400px)}
}