#menu-box {
    text-align: center;

    flex-wrap: wrap;
    box-sizing: content-box;

    max-width: 1px;
    margin: auto;

    color: white;

    min-height: 650px;
    max-height: 650px;
    min-width: 670px;
    max-width: 670px;
    
    box-shadow: 0px 10px 20px rgb(0, 110, 0);

    position: relative;
    top: 4vh;

    border-radius: 25px;
    border: 2px solid rgb(255, 255, 60);

    overflow: hidden;
}

.menu-buttons {
    border: 2px solid transparent;
}

.menu-buttons:hover {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border: 2px solid rgb(255, 255, 60);
    border-radius: 12px;
}