#points {
    display: flex;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    color: white;

    position: relative;
    bottom: 42vh;

    animation-name: slide;
    animation-duration: 0.2s;
}

#hidden {
    visibility: hidden;
}

@keyframes slide {
    from {bottom: 32vh}
    to {bottom: 42vh}
}