#points {
    display: flex;
    justify-content: center;

    position: relative;
    top: 7px;

    font-family: 'Roboto', sans-serif;
    color: white;

    animation-name: slide;
    animation-duration: 0.2s;
}

#hidden {
    visibility: hidden;
}

@keyframes slide{
    from {top: 20px;}
    to {top: 7px;}
}