#game-box {
    display: grid;
    justify-items: center;
    align-items: center;

    min-height: 90vh;
    max-height: 90vh;
    min-width: 44vw;
    max-width: 44vw;

    position: relative;

    margin: auto;

    border-radius: 25px;
    border: 2px solid rgb(60, 255, 140);

    overflow: hidden;
}