.navigation-buttons {
    font-family: 'Roboto', sans-serif;

    background-color: rgb(140, 0, 55);
    font-size: 18px;

    padding: 0.5vw;

    min-width: 6vw;
    max-width: 6vw;

    border: 4px solid transparent;
    border-bottom: 3px solid rgb(105, 0, 40);

    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    cursor: pointer;
}